header {
  background-color: #008800;
  color: white;
  font-weight: bold;
  padding: 30px 50px 30px 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
}

header div a{
  text-decoration: none;
  height: fit-content;
  margin-right: 10px;
  color: white;
}

header div :hover{
  text-decoration: underline;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F5F5DC;
}

.theme-button {
  height: fit-content;
  background-color: #C8A2C8;
  border-radius: 8%;
  border: none;
  padding: 5px;
  font-weight: bold;
  color: white;
}

.theme-button:hover {
  text-decoration: none;
  color: white;
  background-color: #880088;
}

/* Title Box */
.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.title-box div{
  text-align: center;
  border: dashed 2px black;
  padding: 10px;
  width: fit-content;
  margin: 20px;
}

.title-box div p{
  color: grey;
}

/* Map Window */
.map-window {
  width: 90vw;
  height: 100vh;
  border: 0;
}

/* Footer */
footer {
  background-color: #008800;
  color: white;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.contact-icons img{
  height: 30px;
}

.footer-page-list a{
  display: block;
  text-decoration: none;
  color: white;
}