header {
  background-color: #008800;
  color: white;
  font-weight: bold;
  padding: 20px 50px 20px 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

header div {
  display: flex;
  align-items: center;
}

header a{
  text-decoration: none;
  height: fit-content;
  margin-right: 10px;
  color: white;
}

header div :hover{
  text-decoration: underline;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F5F5DC;
}

section {
  margin: 0 10vw 0 10vw;
}

/* Search section */
.search-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  /* border: solid; */
}

.search-section input {
  width: 65vw;
}

.search-section div {
  padding: 0 20px 0 20px;
  /* border: solid; */
}

/* Button */
.theme-button {
  height: fit-content;
  background-color: #C8A2C8;
  border-radius: 8%;
  border: none;
  padding: 5px;
  font-weight: bold;
  color: white;
  margin-right: 5px;
}

.theme-button:hover {
  text-decoration: none;
  color: white;
  background-color: #880088;
}

/* Title Box */
.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.title-box div{
  text-align: center;
  border: dashed 2px black;
  padding: 10px;
  width: fit-content;
  margin: 20px;
}

.title-box p{
  color: grey;
}

/* Travel List Items */

.travel-list-item{
  padding: 20px;
  display: flex;
  background-color: white;
  margin-bottom: 50px;
}

.travel-list-item img{
  width: 20vw;
  height: 30vh;
  margin-right: 20px;
}

.travel-list-item-details{
  display: flex;
}
.travel-list-item-details div{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.item-detail{
  margin-right: 10px;
  color: grey;
}

/* Add Page CSS */
.input-box {
  background-color: white;
  padding: 20px;
}

.input-row {
  display: flex;
  justify-content: space-evenly;
}

.inputImg {
  width: 15vw;
  height: 40vh;
  margin-right: 20px;
}

.img-input {
  display: flex;
  flex-direction: column;
}

.input-fields div{
  margin-bottom: 20px;
}

.button-row {
  display: flex;
  justify-content: center;
}

.button-row a {
  margin: 30px 10px 0 10px;
}

.theme-button.add {
  background-color: #00BB00;
}

.theme-button.cancel {
  background-color: #bb0000;
}


/* Map Window */
.map-window {
  width: 90vw;
  height: 100vh;
  border: 0;
}

/* Footer */
footer {
  background-color: #008800;
  color: white;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
}

.contact-icons img{
  height: 30px;
}

.footer-page {
  display: flex;
}

.footer-page-list{
  margin-right: 20px;
}

.footer-page-list a{
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  color: white;
}

.footer-page-list a:hover{
  text-decoration: underline;
}