header {
  background-color: #008800;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div a{
  text-decoration: none;
  height: fit-content;
  margin-right: 10px;
  color: white;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #C8A2C8;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.title-box div{
  text-align: center;
  border: dashed 2px black;
  width: fit-content;
  margin: 20px;
}

/* Footer */
footer {
  background-color: #008800;
  color: white;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.contact-icons img{
  height: 30px;
}

.footer-page-list a{
  display: block;
  text-decoration: none;
  color: white;
}